<%- include("includes/header.ejs") %>

  <body>
    <h2>This page belongs to <%= data.name %>
    </h2>
    <button>Follow</button>
    <button>Message</button>
    <p>Followers: <%= data.followers %> &nbsp;&nbsp;&nbsp; Following:
        <%= data.following %>
    </p>
    <hr>
    <% for(const post of data.posts){ %>
      <div class="img">
        <img width="250" height="250" style="object-fit: cover;" src=<%=post.image %> alt="" />
        <p>Likes: <%= post.likes %> &nbsp;&nbsp;&nbsp;
            Comments: <%= post.comments %>
        </p>
      </div>
      <% } %>

      <%- include("includes/footer.ejs") %>

        <!-- <h3>Account that follows you:</h3> -->
        <%# %>
          <!-- <ul> -->
          <%# for(const name of followers){ %>
            <!-- <li> -->
            <%#= name %>
              <!-- </li> -->
              <%# } %>
                <!-- </ul> -->
  </body>

  </html>