<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Instagram page</title>
</head>

<body>
  <h2>This page belongs to <%= data.name %>
  </h2>
  <button>Follow</button>
  <button>Message</button>
  <p>Followers: <%= data.followers %> &nbsp;&nbsp;&nbsp; Following:
      <%= data.following %>
  </p>
  <hr>
  <% for(const post of data.posts){ %>
    <div class="img">
      <img src=<%= post.image %> alt="">
      <p>Likes: <%= post.likes %> &nbsp;&nbsp;&nbsp;
          Comments: <%= post.comments %>
      </p>
    </div>
    <% } %>




      <!-- <h3>Account that follows you:</h3> -->
      <%# %>
        <!-- <ul> -->
        <%# for(const name of followers){ %>
          <!-- <li> -->
          <%#= name %>
            <!-- </li> -->
            <%# } %>
              <!-- </ul> -->
</body>

</html>